<!DOCTYPE html>
<html>
  <head>
    <title>Litera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "litera/application", media: "all" %>
  </head>

  <body class="litera">
    <%= yield %>
  </body>
</html>
